.d-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 400px;
}

.carousel-control-next {
  /* right: 20%; */
  opacity: 1;
  filter: invert(1);
}

.carousel-control-prev {
  /* left: 20%; */
  opacity: 1;
  filter: invert(1);
}

footer {
  height: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;

}

/* .container-fluid {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40px;
  background-color: rgb(61, 59, 59);
}

.img {
  position: absolute;
  left: 100px;
  transform: translateX(-50%);
} */

.navbar .container-fluid {
  position: relative;
}

.navbar .container-fluid img {
  position: absolute;
  left: 50%;
  /* transform: translateX(-50%); */
}
