.d-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 400px;
}

.carousel-control-next {
  /* right: 20%; */
  opacity: 1;
  filter: invert(1);
}

.carousel-control-prev {
  /* left: 20%; */
  opacity: 1;
  filter: invert(1);
}

#index-navbar #index-container-fluid {
  position: relative;
}

#index-navbar #index-container-fluid #index-header-img {
  position: absolute;
  left: 50%;
  /* transform: translateX(-50%); */
}


#img-contato {
  width: 50px;
  height: 50px;
}

.confirmacao-img {
  width: 150px; 
  height: 150px; 
  object-fit: contain;
}


.btn-produto {
  position: absolute;
  position: absolute;
  width: 200px;
  height: 40px;
  inset-inline-start: 15%;
  bottom: 20px;
}

.card {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 500px;
  min-height: 500px;
}

#produtos-card {
  min-height: 100px;
  height: 15px;
  left: 15px;
}

#produtos-avatar {
  width: 50px;
  height: 50px;
}

#produtos-header-card {
  min-height: 0px;
  width: 200px;
  
}

#produtos-avatar {
  position: absolute;
  left: 10%;
  top: 10%;
}


.form-login {
  display: flex;
  /* align-items: center; */
  margin-top: 200px;
  justify-content: center;
  text-align: center;
  /* background-color: aqua; */
  height: 90vh;
}

.div-login {
  max-width: 550px;
  /* display: flex; */
}

/* header {
  text-align: center;
} */

.card-body {
  text-align: center;
}













