div {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: aliceblue;
}

#principal {
    background-color: black;
    width: 1887px;
    height: 1002px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.cat {
    height: 100px;
    width: 100px;
}